.example-warper {
  padding: 20px 5%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px #cfcece dashed;
  margin: 10px;
  white-space: pre-line;
}

.example-warper .button,
.popup-content .button {
  font-family: 'Roboto', Arial, sans-serif;
  color: #000000;
  cursor: pointer;
  padding: 0px 30px;
  display: inline-block;
  margin: 10px 15px;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1.5px;
  font-size: 1em;
  outline: none;
  position: relative;
  font-size: 14px;
  border: 3px solid #cfcece;
  background-color: #ffffff;
  border-radius: 15px 15px 15px 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.example-warper .button:hover,
.example-warper .button.hover {
  border-color: #2980b9;
  color: #000000 !important;
}
.example-warper .card {
  font-size: 12px;
}
.example-warper .card > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 14px;
  text-align: center;
}
.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  margin: auto;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  text-align: center;
}

.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  border-radius: 18px;
  border: 1px solid #cfcece;
  background-color: #fff;
}
.example-warper .example-warper-start {
  width: 100%;
  padding: 20px 5%;
  display: flex;
  flex-wrap: wrap;
  border: 1px #cfcece dashed;
}
.popup-menu {
  width: 200px;
  display: flex;
  flex-direction: column;
}
.popup-menu .menu-item {
  cursor: pointer;
  padding: 5px;
  border-top: 1px solid #e8e7e7;
}
.popup-menu .menu-item:hover {
  color: #2980b9;
}

html[data-theme='dark'] .popup-content {
  background-color: #817f7f;
  color: #fff;
}

html[data-theme='light'] .popup-content {
  background-color: #fff;
  color: #000;
}
html[data-theme='dark'] .popup-arrow > svg {
  color: #817f7f;
}
