button {
  height: 40px;
  width: 100px;
}

.menu {
  width: 200px;
  display: flex;
  flex-direction: column;
}
.menu-item {
  padding: 5px;
  height: 28px;
  border-bottom: 1px solid rgb(187, 187, 187);
}
